@import 'variables';

body { background: #444;}

.container {
  border: 1px solid #29292b;
  background: #333438;
  color: $white;
  @include box-shadow(0px, 8px, 15px, $darkgray);
}


// navbar
.navbar {
  border-bottom: 1px solid #444;
  background: $darkgray;

  a {
    padding: 10px;
    color: $white;
  }

  ul ul   {
    display: none;
    position: $absol;
    z-index: 9;
    padding: 0px;
    border: 1px solid #222;
    background: #444;

    li {
      @include xy_size(100%);
      padding: 10px 16px;
      @include transition(all, .2s, ease);

      &:hover { background: $darkgray; }

      i { float: right; }
    }
  }


  .ml-auto {
    li { padding-right: 20px; }
    ul li { display: block; }

    .opens:hover > ul {
      display: inherit;
      position: $absol;
    }

    .deep {
      position: $absol;
      margin: 0px;
      @include xy_size(100%);
      left: 7.5em;
      top: 70%;
    }
  }
}


// sidebar
.sidebar {
  @include border-bsc(0px, 5px);
  background: transparent;

  .card-header {
    padding: 5px 10px;
    background: #414247;
  }

  li {
    background: #4f5056;
    transition: all 0.3s;
    cursor: pointer;
  }

  li:hover { background: #3f4044; }
}

// buttons
button {
  border: 0px;
  padding: 5px 15px;
  cursor: pointer;
}

.butt-default {
  background: $white;
  border-bottom: 3px solid #999;
  color: $black;
}


.butt-primary { @include btn-proper($butt-primary, 3px solid #4a5e70, $white); }
.butt-info { @include btn-proper($butt-info, 3px solid #6b7075, $black); }
.butt-warning { @include btn-proper($butt-warning, 3px solid #a2a8ad, $white); }
.butt-danger { @include btn-proper($butt-danger, 3px solid #a81028, $black); }


.butt-disabled {
  @include btn-proper(#8b9196, 3px solid #6b7075, $metal);
  cursor: default;
}


// switch
.switch {
  display: inline-block;
  position: relative;
  @include xy_size(60px, 34px);

  input {
    display:none;
    &:checked + .slider { background-color: #455766; }
    &:checked + .slider:before { @include transform(26px); }
  }

  .slider {
    position: $absol;
    top: 0; left: 0; right: 0; bottom: 0;
    padding-top: 8px;
    padding-left: 8px;
    @include border-bsc(1px solid #53616d, 34px);
    background-color: $slider;
    cursor: pointer;

    @include transition(all, .4s, ease);
    font-size: 10px;

    &:before {
      position: $absol;
      left: 0px;
      bottom: 0px;
      @include xy_size(32px, 32px);


      border-radius: 50%;
      content: "";
      

      background-color:#1c2730;
      @include transition(all, .4s, ease);
    }
  }
}

// Card
.card-dark {
  border: 1px solid #222;
  background: transparent;

  .card-header {
    padding: 5px 10px;


    background: #323338;
    color: #828a96;
  }

  .card-body {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    background: #3e3f44;
  }
}


// Alerts
.alert {
  padding: 0px;
  @include border-bsc(1px solid $white, 0px);
  font-size: 10px;

  i {
    @include xy_size(40px);
    padding: 10px;
    border-right: 1px solid #999;
    background: #f44253;
    text-align: center;
  }

  span:nth-child(2){ padding-left: 15px; }
  .fa-info { background: #52eff2; }
  .fa-check { background: #4af9bd; }
}

.tries {
  .alert { display: none; }

  button {
    margin-bottom: 20px;
    &:focus + .alert { display: inherit; }
  }
}

// Inputs
.dark-inputs {
  span {
    border: 1px solid #444;
    background: #30363f;
    color: $white;
  }

  i {
    @include xy_size(20px);
    text-align: center;
  }

  input {
    border: 1px solid #444;
    outline: 0;

    background: #2c3138;
    &:focus {
      background: #252a33;
      outline: 0;
      color: #ddd;
    }
  }
}



// Breadcrumbs
.dark-bread {
  ol { background: #302c2e; }
  a { color: #666364;}
  .active { color: #918e8e; }
}

// Modal
.modal-dark {
  background: rgba(3, 3, 3, 0.8);

  .modal-content {
    @include border-bsc(1px solid #222, 0px);
    border-bottom: 5px solid #222;
    background:  #333438;
    color: #999;
  }

  .modal-header {
    color: #ddd;
    border-bottom: #222;
    .close { color: #ddd; }
  }

  .modal-body { border-bottom: 1px solid #222; }
  .modal-footer { border-top: #222; }
}


// Tabs 
.tab-dark {
  border-bottom: 1px solid #555;

  .nav-item {
    a { color: gray; }
    .nav-link:hover, .nav-link:focus { border: 1px solid transparent; }
    .active {
      border: 0px;
      border-bottom: 4px solid #565151;
      background-color: transparent;
      color: $metal;
      &:hover { @extend .active; }
      &:focus { @extend .active; }
    }
  }
}


