
$darkgray: #333;
$font-stack:Rajdhani,  Questrial;
$absol: absolute;
$white: #fff;
$black: #000;

body {
  background: #444;
}

.container {
  color: $white;
  background: #333438;
  border: 1px solid #29292b;
  box-shadow: 0px 8px 15px #333;
}


// navbar
.navbar {
  background: $darkgray;
  border-bottom: 1px solid #444;

  a {
    color: $white;
    padding: 10px;
  }

  .ml-auto {
    li {
      padding-right: 20px;
    }
  }

  ul ul {
    display: none;
    position: $absol;
    z-index: 99;
    padding: 0px;
    background: #444;
    border: 1px solid #222;

    li {
      width: 100%;
      padding: 10px 16px;
      transition: all .2s;
    }

    i {
      float: right;
    }

    li:hover {
      background: $darkgray;
    }
  }

  ul li {
    display: block;
  }

  .opens:hover > ul {
    display: inherit;
    position: $absol;
  }

  .deep {
    position: $absol;
    width: 100%;
    left: 7.5em;
    top: 70%;
    margin: 0px;
  }
}





// sidebar
.sidebar {
  border-radius:5px;
  border: 0px;
  background: transparent;
  
  .card-header {
    background: #414247;
    padding: 5px 10px;

  }

  li {
   background: #4f5056;
   transition: all 0.3s;
   cursor: pointer;
 }

 li:hover {
  background: #3f4044;
}

}


// buttons
  button {
    border: 0px;
    padding: 5px 15px;
    cursor: pointer;
  }

  .butt-default {
    background: $white;
    border-bottom: 3px solid #999;
    color: $black;
  } 


  .butt-primary {
    background: #364654;
    border-bottom:3px solid #4a5e70;
    color: $white;
  }
  .butt-info {
    background: #8b9196;
    border-bottom: 3px solid #6b7075;
    color: $black;
  }

  .butt-warning {
    background: #8b9196;
    border-bottom: 3px solid #a2a8ad;
    color: $white;
  }

  .butt-disabled {
    background: #8b9196;
    border-bottom: 3px solid #6b7075;
    cursor: default;
    color: #ccc;
  }

  .butt-danger {
    background: #db1835;
    border-bottom: 3px solid #a81028;
  }

// switch
.switch {

  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  input {display:none;}

  .slider {
    
    position: $absol;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 34px;
    background-color: #455766;
    -webkit-transition: .4s;
    transition: .4s;
    border: 1px solid #53616d;
    font-size: 10px;
    padding-left: 8px;
    padding-top: 8px;
  }

  .slider:before {
    position: $absol;
    border-radius: 50%;
    content: "";
    height: 32px;
    width: 32px;
    left: 0px;
    bottom: 0px;
    background-color:#1c2730;
    -webkit-transition: .4s;
    transition: .4s;
  }

  input:checked + .slider {
    background-color: #455766;
  }

  input:focus + .slider {
     }

  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
}

.card-dark {
  background: transparent;
  border: 1px solid #222;
  .card-header {
    padding: 5px 10px;
    background: #323338;
    color: #828a96;
  }

  .card-body {
    background: #3e3f44;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
  }
}


// Alerts
.alert {
  padding: 0px;
  font-size: 10px;
  border: 1px solid $white;
  border-radius: 0px;
  i {
    border-right: 1px solid #999;
    text-align: center;
    padding: 10px;
    width: 40px;
    background: #f44253;
  }

  span:nth-child(2){
    padding-left: 15px;
  }

  .fa-info {
    background: #52eff2;
  }

  .fa-check {
    background: #4af9bd;
  }
}

.tries {
  .alert {
    display: none;
  }

  button {
    margin-bottom: 20px;
  }

  button:focus + .alert {
    display: inherit;
  }
}

// Inputs

.dark-inputs {
  span {
    background: #30363f;
    color: $white;
    border: 1px solid #444;   
  }

  i {
    width: 20px;
    text-align: center;
  }

  input {
    background: #2c3138;
    border: 1px solid #444;
    outline: 0;
  }

  input:focus {
    background: #252a33;
    outline: 0;
    color: #ddd;
  }

}



// Breacrumbs
.dark-bread {
  ol {
    background: #302c2e;
  }

  a {
    color: #666364;
  }

  .active {
    color: #918e8e;
  }
}

// Modal 
.modal-dark {

  background: rgba(3, 3, 3, 0.8);
  .modal-content {
    border-radius: 0px;
    color: #999;
    background:  #333438;
    border: 1px solid #222;
      border-bottom: 5px solid #222;
  }

  .modal-header {
    color: #ddd;
    border-bottom: #222;
    .close {
      color: #ddd;
    }
  }

  .modal-body {
    border-bottom: 1px solid #222;
  }

  .modal-footer {
    border-top: #222;
  }
}