body {
  background: #444; }

.container {
  border: 1px solid #29292b;
  background: #333438;
  color: #fff;
  -webkit-box-shadow: 0px 8px 15px #333;
  -moz-box-shadow: 0px 8px 15px #333;
  -ms-box-shadow: 0px 8px 15px #333;
  box-shadow: 0px 8px 15px #333; }

.navbar {
  border-bottom: 1px solid #444;
  background: #333; }
  .navbar a {
    padding: 10px;
    color: #fff; }
  .navbar ul ul {
    display: none;
    position: absolute;
    z-index: 9;
    padding: 0px;
    border: 1px solid #222;
    background: #444; }
    .navbar ul ul li {
      width: 100%;
      height: auto;
      padding: 10px 16px;
      -webkit-transition: all 0.2s ease;
      -moz-transition: all 0.2s ease;
      -ms-transition: all 0.2s ease;
      -o-transition: all 0.2s ease;
      transition: all 0.2s ease; }
      .navbar ul ul li:hover {
        background: #333; }
      .navbar ul ul li i {
        float: right; }
  .navbar .ml-auto li {
    padding-right: 20px; }
  .navbar .ml-auto ul li {
    display: block; }
  .navbar .ml-auto .opens:hover > ul {
    display: inherit;
    position: absolute; }
  .navbar .ml-auto .deep {
    position: absolute;
    margin: 0px;
    width: 100%;
    height: auto;
    left: 7.5em;
    top: 70%; }

.sidebar {
  border: 0px;
  border-radius: 5px;
  background: transparent; }
  .sidebar .card-header {
    padding: 5px 10px;
    background: #414247; }
  .sidebar li {
    background: #4f5056;
    transition: all 0.3s;
    cursor: pointer; }
  .sidebar li:hover {
    background: #3f4044; }

button {
  border: 0px;
  padding: 5px 15px;
  cursor: pointer; }

.butt-default {
  background: #fff;
  border-bottom: 3px solid #999;
  color: #000; }

.butt-primary {
  background: #364654;
  border-bottom: 3px solid #4a5e70;
  color: #fff; }

.butt-info {
  background: #8b9196;
  border-bottom: 3px solid #6b7075;
  color: #000; }

.butt-warning {
  background: #8b9196;
  border-bottom: 3px solid #a2a8ad;
  color: #fff; }

.butt-danger {
  background: #db1835;
  border-bottom: 3px solid #a81028;
  color: #000; }

.butt-disabled {
  background: #8b9196;
  border-bottom: 3px solid #6b7075;
  color: #cccccc;
  cursor: default; }

.switch {
  display: inline-block;
  position: relative;
  width: 60px;
  height: 34px; }
  .switch input {
    display: none; }
    .switch input:checked + .slider {
      background-color: #455766; }
    .switch input:checked + .slider:before {
      -webkit-transform: translate(26px);
      -moz-transform: translate(26px);
      -ms-transform: translate(26px);
      -o-transform: translate(26px);
      transform: translate(26px); }
  .switch .slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding-top: 8px;
    padding-left: 8px;
    border: 1px solid #53616d;
    border-radius: 34px;
    background-color: #455766;
    cursor: pointer;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    font-size: 10px; }
    .switch .slider:before {
      position: absolute;
      left: 0px;
      bottom: 0px;
      width: 32px;
      height: 32px;
      border-radius: 50%;
      content: "";
      background-color: #1c2730;
      -webkit-transition: all 0.4s ease;
      -moz-transition: all 0.4s ease;
      -ms-transition: all 0.4s ease;
      -o-transition: all 0.4s ease;
      transition: all 0.4s ease; }

.card-dark {
  border: 1px solid #222;
  background: transparent; }
  .card-dark .card-header {
    padding: 5px 10px;
    background: #323338;
    color: #828a96; }
  .card-dark .card-body {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    background: #3e3f44; }

.alert {
  padding: 0px;
  border: 1px solid #fff;
  border-radius: 0px;
  font-size: 10px; }
  .alert i {
    width: 40px;
    height: auto;
    padding: 10px;
    border-right: 1px solid #999;
    background: #f44253;
    text-align: center; }
  .alert span:nth-child(2) {
    padding-left: 15px; }
  .alert .fa-info {
    background: #52eff2; }
  .alert .fa-check {
    background: #4af9bd; }

.tries .alert {
  display: none; }
.tries button {
  margin-bottom: 20px; }
  .tries button:focus + .alert {
    display: inherit; }

.dark-inputs span {
  border: 1px solid #444;
  background: #30363f;
  color: #fff; }
.dark-inputs i {
  width: 20px;
  height: auto;
  text-align: center; }
.dark-inputs input {
  border: 1px solid #444;
  outline: 0;
  background: #2c3138; }
  .dark-inputs input:focus {
    background: #252a33;
    outline: 0;
    color: #ddd; }

.dark-bread ol {
  background: #302c2e; }
.dark-bread a {
  color: #666364; }
.dark-bread .active, .dark-bread .tab-dark .nav-item .active:hover, .tab-dark .nav-item .dark-bread .active:hover, .dark-bread .tab-dark .nav-item .active:focus, .tab-dark .nav-item .dark-bread .active:focus {
  color: #918e8e; }

.modal-dark {
  background: rgba(3, 3, 3, 0.8); }
  .modal-dark .modal-content {
    border: 1px solid #222;
    border-radius: 0px;
    border-bottom: 5px solid #222;
    background: #333438;
    color: #999; }
  .modal-dark .modal-header {
    color: #ddd;
    border-bottom: #222; }
    .modal-dark .modal-header .close {
      color: #ddd; }
  .modal-dark .modal-body {
    border-bottom: 1px solid #222; }
  .modal-dark .modal-footer {
    border-top: #222; }

.tab-dark {
  border-bottom: 1px solid #555; }
  .tab-dark .nav-item a {
    color: gray; }
  .tab-dark .nav-item .nav-link:hover, .tab-dark .nav-item .nav-link:focus {
    border: 1px solid transparent; }
  .tab-dark .nav-item .active, .tab-dark .nav-item .active:hover, .tab-dark .nav-item .active:focus {
    border: 0px;
    border-bottom: 4px solid #565151;
    background-color: transparent;
    color: #cccccc; }

/*# sourceMappingURL=dark.css.map */
