<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Page</title>
	<link rel="stylesheet" href="bootstrap/css/bootstrap.css">
	<link rel="stylesheet" href="css/style.css">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link href="https://fonts.googleapis.com/css?family=Questrial|Rajdhani" rel="stylesheet">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>
<body>

	<div class="spaces" style="height: 5em;"></div>
	<!-- NAVIGATION MENU -->
	<div class="container">
		<div class="row">
			<div class="col-12" style="padding: 0px; padding-bottom: 20px;">
				<div class="navbar navbar-expand-lg navbar-lg">
					<a href="#" class="navbar-brand"><i class="fa fa-gg"></i> Components</a>
					<div class="collapse navbar-collapse">
						<ul class="navbar-nav ml-auto">
							<li class="nav-item">
								<a href="#" class="nav-link active">Home</a>
							</li>
							<li class="nav-item">
								<a href="#" class="nav-link opens">Features <i class="fa fa-angle-down"></i>
									<ul>
										<li>Split editing</li>
										<li>Find anywhere</li>
										<li class="opens">Themes <i class="fa fa-angle-right"></i>
											<ul class="deep">
												<li>Darcula</li>
												<li>Crimson</li>
												<li class="opens">Solarized <i class="fa fa-angle-right"></i>
													<ul class="deep">
														<li>Dark</li>
														<li>Light</li>
													</ul>
												</li>
											</ul>
										</li>
									</ul>
								</a>
							</li>
							<li class="nav-item">
								<a href="#" class="opens nav-link">Platform <i class="fa fa-angle-down"></i>
									<ul>
										<li>Windows</li>
										<li>Linux</li>
										<li>OS X</li>
									</ul>
								</a>
							</li>
							<li class="nav-item">
								<a href="#" class="nav-link">Donate</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<!-- SIDEBAR -->
			<div class="col-3" style="padding-left: 15px;">
				<h3>Sidebar</h3>
				<div class="card sidebar">
					<ul class="list-group list-group-flush">
						<li class="list-group-item"><i class="fa fa-envelope"></i> Mailbox <i class="fa fa-angle-right arrow"></i></li>
						<li class="list-group-item"><i class="fa fa-exchange"></i> Conversations <i class="fa fa-angle-right arrow"></i></li>
						<li class="list-group-item"><i class="fa fa-user"></i> Friends <i class="fa fa-angle-right arrow"></i></li>
						<li class="list-group-item"><i class="fa fa-users"></i> Work Group <i class="fa fa-angle-right arrow"></i></li>
						<li class="list-group-item"><i class="fa fa-cogs"></i> Settings <i class="fa fa-angle-right arrow"></i></li>
					</ul>
				</div>
			</div>
			<div class="col-3 buttons" style="padding: 5px;">
				<h3>Buttons</h3>
				<div class="col-12" style="padding: 0px;">
					<button class="btn butt-default">Default</button>
					<button class="btn butt-primary">Primary</button>
					<button class="btn butt-info">info</button>
				</div>
				<div class="col-12" style="padding: 0px; margin-top: 10px;">
					<button class="btn butt-danger">Danger</button>
					<button class="btn butt-disabled" disabled>Disabled</button>
				</div>
				<div class="col-12" style="padding: 0px; margin-top: 10px;">
					<button class="btn butt-danger"><i class="fa fa-trash"></i></button>
					<button class="btn butt-info"><i class="fa fa-info"></i></button>
					<button class="btn butt-primary"><i class="fa fa-check"></i></button>
				</div>
				<div class="col-12" style="padding: 0px; margin-top: 10px;">
					<h3>Switch</h3>
					<label class="switch">
						<input type="checkbox">
						<span class="slider"></span>
					</label>
					<label class="switch">
						<input type="checkbox">
						<span class="slider">On&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Off</span>
					</label>
				</div>

			</div>
			<div class="col-3" style="padding: 5px;">
				<h3>Card</h3>
				<div class="card card-dark">
					<img class="card-img-top" src="assets/back.jpg" alt="Card image cap">
					<div class="card-body">
						--- Content ---
					</div>
				</div>
			</div>
			<div class="col-3">
				<h3>Alert</h3>
				<div class="alert alert-danger" role="alert">
					<span><i class="fa fa-warning"></i></span><span><strong>Warning!</strong> theres an error.</span>
				</div>
				<div class="alert alert-dark" role="alert">
					<span><i class="fa fa-info"></i></span><span><strong>Important!</strong> Read this!</span>
				</div>
				<div class="alert alert-dark" role="alert">
					<span><i class="fa fa-check"></i></span><span><strong>Well done!</strong> Mission Success!</span>
				</div>
				<div class="tries">
					<button class="btn butt-default">Show Info</button>
					<div class="alert alert-dark shows" role="alert">
						<span><i class="fa fa-info"></i></span><span><strong>Important!</strong> Read this! </span>
					</div>
				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-3 dark-inputs" style="padding-left: 15px;">
				<h3>Input</h3>
				<div class="card card-dark">
					<div class="card-header">Login Form</div>
					<div class="card-body">
						<div class="input-group">
							<span class="input-group-addon" id="basic-addon1"><i class="fa fa-user"></i></span>
							<input type="text" class="form-control" placeholder="Username">
						</div>
						<br>
						<div class="input-group">
							<span class="input-group-addon" id="basic-addon1"><i class="fa fa-key"></i></span>
							<input type="password" class="form-control" placeholder="Password">
						</div>
					</div>
				</div>
			</div>
			<div class="col-5 dark-bread">
				<h3>Breadcrumbs</h3>
				<nav aria-label="breadcrumb" role="navigation">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="#">Home</a></li>
					</ol>
				</nav>
				<nav aria-label="breadcrumb" role="navigation">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="#">Home</a></li>
						<li class="breadcrumb-item"><a href="#">Library</a></li>
					</ol>
				</nav>
				<nav aria-label="breadcrumb" role="navigation">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="#">Home</a></li>
						<li class="breadcrumb-item"><a href="#">Library</a></li>
						<li class="breadcrumb-item active" aria-current="page">Data</li>
					</ol>
				</nav>
			</div>
			<div class="col-4">
				<h3>Modal</h3>
				<!-- Button trigger modal -->
				<button type="button" class="btn butt-primary" data-toggle="modal" data-target="#exampleModal">
					Newsletter
				</button>

				<!-- Modal -->
				<div class="modal modal-dark fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="exampleModalLabel">Newsletter</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body" style="border-top: 1px solid #222;">
								<div class="dark-inputs">
									<h4>Subscribe to our newsletter!</h4>
									<p>Join <b>our 1,132,966</b> subscribers and get access to the latest tools, freebies, product announcements and much more!</p>
									<input type="text" class="form-control" placeholder="Enter your Email Address">
								</div>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn butt-default " data-dismiss="modal">Close</button>
								<button type="button" class="btn butt-primary ">Subscribe</button>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-12">
				<h3>Tabs</h3>
				<ul class="nav tab-dark nav-tabs">
					<li class="nav-item">
						<a class="nav-link active" href="#">Active</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Link</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Link</a>
					</li>
					<li class="nav-item">
						<a class="nav-link disabled" href="#">Disabled</a>
					</li>
				</ul>
			</div>
		</div>
		<br>
	</div>
	<div class="spaces" style="height: 10em;"></div>

	<script src="bootstrap/js/bootstrap.js"></script>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
</body>
</html>