@import 'theme/dark';
// @import 'theme/light';



$font-stack:Rajdhani,  Questrial;

.navbar {
	ul ul {
		display: none;
	}
}



.container {
	background-size: cover;
}

.bordered {
	border-radius: 3px;
}

.guide {
	border: 1px solid green;
}

.navbar {	
	font-family: $font-stack;
	padding: 0px 15px;
	@extend .bordered;
}

.sidebar {
	font-family: $font-stack;
	.arrow {
		float: right;
	}
}

// Tabs

.tab-dark {
  border-bottom: 1px solid #888;
  .nav-item {
    a {
      color: gray;
    }
    .nav-link:hover {
      border: 1px solid transparent;
    }
    .nav-link:focus {
     border: 1px solid transparent;     
   }
    .active {
      background-color: transparent;
      border: 0px;
      border-bottom: 4px solid #706969;
      color: #333;
    }

    .active:hover {
      @extend .active;
    }

    .active:focus {
      @extend .active;
    }
  }

}
