@import 'theme/dark';
// @import 'theme/light';



$font-stack:Rajdhani,  Questrial;

.navbar {
	ul ul {
		display: none;
	}
}



.container {
	background-size: cover;
}

.bordered {
	border-radius: 3px;
}

.guide {
	border: 1px solid green;
}

.navbar {	
	font-family: $font-stack;
	padding: 0px 15px;
	@extend .bordered;
}

.sidebar {
	font-family: $font-stack;
	.arrow {
		float: right;
	}
}