@import 'switch';
@import 'alert';


$darkgray: #444;
$navBorder: 1px solid #d1d1d1;
$navBack: #eff0f2;


.main_con {
	border: 1px solid #ddd;
	border-top: 0px;
}

.main-nav {
	background: $navBack;
	border: $navBorder;
	border-radius: 3px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;

	a {
		color: $darkgray;
		padding: 0px;
	}

	ul ul {
		display: none;
		position: absolute;
		background: #ededed;
		border: $navBorder;
		border-radius: 3px;
		padding: 10px;
		z-index: 99;
		li {
			padding: 12px 18px;
		}

		li:hover {
			background: #ddd;
		}
		i {
			float: right;
		}
	}

	ul li {
		display: block;
		padding: 10px;
	}

	.opens:hover > ul{
		display: inherit;
		position: absolute;
		padding: 0px;
		margin: 0px;
	}

	.deep {
		position: absolute;
		width: 100%;
		left: 10em;
		top: 70%;
		margin: 0px;
	}

}

